*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0px;
    background-color:#505d78 ;
}
h1{
    text-align: center;

}
form{
    max-width:600px ;
    margin: auto;
    background-color: #f0f4f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    padding: 20px;
}
fieldset{
    border: 2px solid #227694;
    border-radius: 8px;
    padding: 20px;
    margin-bottom:10px;
    background-color: aliceblue;
}
legend{
    font-weight: bold;
    text-align: left;
}
label{
    display: block;
}
input,textarea{
width: calc(100% - 1px);
}
button{
    /* text-align: center; */
    background-color: rgb(16, 125, 125);
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px soild black;
    border-radius: 4px;
}
button:hover{
    background-color: aqua;
}
#profilePicture{
display: block;
margin:  0 auto;
border: 2px solid  #227694;
 border-radius: 5px;
 object-fit: cover;
 margin-top: 20px;
}
